.logo{
  font-size: 26px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-align: right;
  color: #2196F3;
  font-family: 'Raleway', sans-serif;
}
.nav-link{
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}
.nav-link:hover{
  color: #2196F3;
}
header{
  background-color: #FFFFFF;
}
body{
  font-family: 'Roboto', sans-serif;
}
address{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
;
}
h2{
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}
h3{
  font-size: 14px;
  font-weight: 400;
  font-weight: 500;
  font-weight: 700;
  font-weight: 900;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #212121;
}
p{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #757575;
}
h1{
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
;
}
footer{
  background: #2F303A;
}
.links{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
}
.links:hover{
  color: #2196F3;
}
.info{
  color: #FFFFFF;
}
.phone{
  color: #FFFFFF99;
}
.find{
  color: #FFFFFF;
}
.menu{
  background: #F5F4FA;
  color: #212121;
  border: 1px;
}
.menu:hover{
  background-color: #2196F3;
  color: #FFFFFF;
  border: 1px;
}
.service{
  background-color: #2196F3;
  color: #FFFFFF;
  border: 1px;
}
.portafolio{
  background-color: #e5e5e5;
}
.Solutions{
  background-color: #2F303A;
}
.Team{
  background-color: #F5F4FA;
}
.Caracteristics{
  background-color: #e5e5e5;
}
.Dedication{
  background-color: #e5e5e5;
}